.footer {
    grid-column: 1/3;
	grid-row: 3/4;
    background-color: $colorYellow;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 15px;

    @include breakpoint(tablet) {
		padding:0;
	  }
}