//colors

$colorDarkGreen: #68b35e;
$colorMediumGreen: #78ce6d;
$colorLightGreen: #9ee78f;

$colorLightBrown: #87705a;
$colorMediumBrown: #eb884e;

$colorYellow: #f6d67b;
$colorLight: #efefef;
$colorDark: #484847;

//typography

$fontMonserrat:'Montserrat', sans-serif;








